/* Client.css */

.ScrollViewer {
  width: 100%;
  overflow: hidden;
}

.Client {
  display: flex;
  overflow-x: hidden;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch; /* Enables smooth scrolling on iOS devices */

  /* Adjust the height based on your design */
  height: 200px;
}

.ClientItem {
  flex: 0 0 auto;
  scroll-snap-align: start;
}

.ClientImage {
  max-width: 100%;
  height: auto;
}

/* Responsive styles */
@media screen and (max-width: 600px) {
  .Client {
    scroll-behavior: smooth; /* Enables smooth scrolling on small screens */
    scroll-snap-type: none; /* Disable snap scrolling on small screens */
  }
}


.ScrollButtons {
  display: flex;
  justify-content: space-between;
  /* position: absolute;
 top: 800px; */
}

.ScrollButtons button {
  background: none;
  /* border: none; */
  cursor: pointer;
  font-size: 5; /* Hide the button text */

}
