.core-values-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50vh;
    
  }
  .headings {
    background-color:  skyblue;
   
    position: absolute;
    top: 0;
    left: 20%;

  }
  
  .core-value-card {
    position: relative;
    width: 200px;
    height: 150px;
    padding: 20px;
    text-align: center;
    background-color: #f0f0f0;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    animation: fadeIn 1s forwards;
    animation-delay: calc(var(--animation-order) * 0.3s);
  }
  
  @keyframes fadeIn {
    to {
      opacity: 1;
    }
  }
  