/* Home.css */

body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
  }
  
  .hero1 {
    display: flex;
    flex-direction: row;
    background-color: lightgreen;
    padding: 20px;
  }
  
  .Hero {
    flex: 1;
    padding: 20px;
  }
  
  h1 {
    color: #333;
  }
  
  p {
    color: #555;
    margin-bottom: 20px;
  }
  
  button {
    background-color: green;
    height: 50px;
    width: 200px;
    border: none;
    border-radius: 25px;
    color: white;
    font-size: 18px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: darkgreen;
  }
  
  .ImageContainer {
    background-color: #f0f8ff;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .ImageContainer img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
  }
  
  .ImageContainer img:hover {
    transform: scale(1.1);
  }
  